<div class="directions">
  <section class="u-clearfix u-grey-5 u-section-1" id="carousel_86f6">
    <div class="u-bottom-right-radius-25 u-palette-1-light-3 u-shape u-shape-round u-shape-1"></div>
    <img
      class="u-image u-image-round u-radius-25 u-image-1"
      data-image-width="1620"
      data-image-height="1080"
      src=" ../../../content/images/page/ghghgh-min.jpg"
    />
    <div class="u-align-left u-container-style u-custom-color-3 u-group u-radius-25 u-shape-round u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h5 class="u-text u-text-default u-text-1">LISTES DES<br /></h5>
        <h1 class="u-text u-text-grey-5 u-text-2">DIRECTIONS CENTRALES</h1>
      </div>
    </div>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          *ngFor="let structure of structures; trackBy: trackId"
          class="u-align-left u-container-style u-list-item u-radius-25 u-repeater-item u-shape-round u-white u-list-item-1"
        >
          <a [routerLink]="['/structure', structure.id, 'details']">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <span class="u-file-icon u-icon u-icon-1"><img *ngIf="structure.image" [src]="bypassSecurityTrust(structure.image)" /></span>
              <h4 class="u-text u-text-default u-text-3">{{ structure.nom }}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
