<div>
  <h2 id="page-heading" data-cy="CompetenceLinguistiqueHeading">
    <span jhiTranslate="gesEmployerApp.competenceLinguistique.home.title">Competence Linguistiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesEmployerApp.competenceLinguistique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competence-linguistique"
        [routerLink]="['/competence-linguistique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span > Créer une nouvelle compétence linguistique  </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competenceLinguistiques?.length === 0">
    <span jhiTranslate="gesEmployerApp.competenceLinguistique.home.notFound">No competenceLinguistiques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="competenceLinguistiques && competenceLinguistiques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="gesEmployerApp.competenceLinguistique.niveau">Niveau</span></th>

          <th scope="col"><span jhiTranslate="gesEmployerApp.competenceLinguistique.langue">Langue</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competenceLinguistique of competenceLinguistiques; trackBy: trackId" data-cy="entityTable">
          <td jhiTranslate="{{ 'gesEmployerApp.Niveau.' + competenceLinguistique.niveau }}">{{ competenceLinguistique.niveau }}</td>

          <td>
            <div *ngIf="competenceLinguistique.langue">
             {{ competenceLinguistique.langue?.nom }}
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competence-linguistique', competenceLinguistique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competence-linguistique', competenceLinguistique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(competenceLinguistique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
