<!--
  <div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employe">
      <h2 data-cy="employeDetailsHeading"><span jhiTranslate="gesEmployerApp.employe.detail.title">Employe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employe.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.nni">Nni</span></dt>
        <dd>
          <span>{{ employe.nni }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.nom">Nom</span></dt>
        <dd>
          <span>{{ employe.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.prenom">Prenom</span></dt>
        <dd>
          <span>{{ employe.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Genre.' + employe.sexe }}">{{ employe.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ employe.dateNaissance | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.email">Email</span></dt>
        <dd>
          <span>{{ employe.email }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.telephone">Telephone</span></dt>
        <dd>
          <span>{{ employe.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.dateRecrutement">Date Recrutement</span></dt>
        <dd>
          <span>{{ employe.dateRecrutement | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.matricule">Matricule</span></dt>
        <dd>
          <span>{{ employe.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.fonction">Fonction</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Fonction.' + employe.fonction }}">{{ employe.fonction }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.adresse">Adresse</span></dt>
        <dd>
          <span>{{ employe.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Status.' + employe.status }}">{{ employe.status }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.domaine">Domaine</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Domaine.' + employe.domaine }}">{{ employe.domaine }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.photo">Photo</span></dt>
        <dd>
          <div *ngIf="employe.photo">
            <img [src]="bypassSecurityTrust(employe.photo)" />
          </div>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.user">User</span></dt>
        <dd>
          <span>{{ employe.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.projet">Projet</span></dt>
        <dd>
          <span *ngFor="let projet of employe.projets; let last = last">
            <a [routerLink]="['/projet', projet?.id, 'view']">{{ projet.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.structure">Structure</span></dt>
        <dd>
          <div *ngIf="employe.structure">
            <a [routerLink]="['/structure', employe.structure?.id, 'view']">{{ employe.structure?.id }}</a>
          </div>
        </dd>
      </dl>

      <h3>Diplomes</h3>

      <div class="alert alert-warning" id="no-result" *ngIf="employe.diplomes?.length === 0">
        <span jhiTranslate="gesEmployerApp.diplome.home.notFound">No diplomes found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="employe.diplomes && employe.diplomes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.libelle">Libelle</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.universite">Universite</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.date">Date</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.description">Description</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.diplome">Diplome</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.employe">Employe</span></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let diplome of employe.diplomes; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/diplome', diplome.id, 'view']">{{ diplome.id }}</a>
              </td>
              <td>{{ diplome.libelle }}</td>
              <td>{{ diplome.universite }}</td>
              <td>{{ diplome.date | formatMediumDatetime }}</td>
              <td>{{ diplome.description }}</td>
              <td>
                <a *ngIf="diplome.diplome" (click)="openFile(diplome.diplome, diplome.diplomeContentType)" jhiTranslate="entity.action.open"
                  >open</a
                >
                <span *ngIf="diplome.diplome">{{ diplome.diplomeContentType }}, {{ byteSize(diplome.diplome) }}</span>
              </td>
              <td>
                <div *ngIf="diplome.employe">
                  <a [routerLink]="['/employe', diplome.employe?.id, 'view']">{{ diplome.employe?.id }}</a>
                </div>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/diplome', diplome.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['/diplome', diplome.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(diplome)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employe', employe.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
-->
<div class="cv">
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <div *ngIf="employe">
        <div class="resume-box">
          <div class="left-section">
            <div class="profile">
              <dd>
                <div *ngIf="employe.photo">
                  <img [src]="bypassSecurityTrust(employe.photo)" class="profile-img" />
                </div>
              </dd>

              <div class="blue-box"></div>
            </div>
            <h2 class="name">
              <dd>
                <span>{{ employe.nom }}</span>
              </dd>
              <br />

              <dd>
                <span>{{ employe.prenom }}</span>
              </dd>
            </h2>
            <p class="n-p">
              <dt><span jhiTranslate="gesEmployerApp.employe.fonction">Fonction</span></dt>
              <dd>
                <span jhiTranslate="{{ 'gesEmployerApp.Fonction.' + employe.fonction }}">{{ employe.fonction }}</span>
              </dd>
            </p>

            <div class="info">
              <p class="heading">Information</p>
              <p class="p1">
                <span class="span1"><img src=" ../../../content/images/page/location.png" /></span>
                <dt><span jhiTranslate="gesEmployerApp.employe.adresse">Adresse</span></dt>
                <dd>
                  <span>{{ employe.adresse }}</span>
                </dd>
              </p>

              <p class="p1">
                <span class="span1"><img src=" ../../../content/images/page/call.png" /></span>
                <dt><span jhiTranslate="gesEmployerApp.employe.telephone">telephone</span></dt>
                <dd>
                  <span>{{ employe.telephone }}</span>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/status.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.status">Status</span></dt>
                      <dd>
                        <span>{{ employe.status }}</span>
                      </dd>
                    </span>
                  </p>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/mail.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.email">Email</span></dt>
                      <dd>
                        <span>{{ employe.email }}</span>
                      </dd></span
                    >
                  </p>
                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/pen.jpg" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.nni">Nni</span></dt>
                      <dd>
                        <span>{{ employe.nni }}</span>
                      </dd>
                    </span>
                  </p>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/gender.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.sexe">Sexe</span></dt>
                      <dd>
                        <span jhiTranslate="{{ 'gesEmployerApp.Genre.' + employe.sexe }}">{{ employe.sexe }}</span>
                      </dd>
                    </span>
                  </p>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/agenda.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.dateNaissance">Date Naissance</span></dt>
                      <dd>
                        <span>{{ employe.dateNaissance | formatMediumDatetime }}</span>
                      </dd>
                    </span>
                  </p>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/agenda.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.dateRecrutement">Date Recrutement</span></dt>
                      <dd>
                        <span>{{ employe.dateRecrutement | formatMediumDatetime }}</span>
                      </dd>
                    </span>
                  </p>

                  <p class="p1">
                    <span class="span1"><img src=" ../../../content/images/page/book.png" /></span
                    ><span>
                      <dt><span jhiTranslate="gesEmployerApp.employe.matricule">Matricule</span></dt>
                      <dd>
                        <span>{{ employe.matricule }}</span>
                      </dd>
                    </span>
                  </p>
                </dd>
              </p>
            </div>
          </div>

          <div class="right-section">
            <div class="right-heading">
              <img src="../../../content/images/page/pencil.png" />
              <p class="p2">diplome</p>
            </div>

            <div class="clearfix"></div>

            <div class="lr-box" *ngFor="let diplome of employe.diplomes; trackBy: trackId" data-cy="entityTable">
              <div class="left">
                <p class="p4">{{ diplome.date | formatMediumDate }}</p>
              </div>

              <div class="right">
                <p class="p4">{{ diplome.libelle }}</p>
                <p class="p5">{{ diplome.description }}.</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <br /><br />
            <div class="right-heading">
              <img src="../../../content/images/page/edu.png" />
              <p class="p2">Experience</p>
            </div>
            <div class="clearfix"></div>

            <div class="lr-box" *ngFor="let experience of employe.experiences; trackBy: trackId" data-cy="entityTable">
              <div class="left">
                <p class="p4">{{ experience.dateDebut | formatMediumDate }}</p>
                <p class="p4">{{ experience.dateFin | formatMediumDate }}</p>
              </div>

              <div class="right">
                <p class="p4">{{ experience.entreprise }}</p>
                <p class="p5">{{ experience.description }}.</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <br /><br />

            <br />
            <div class="right-heading">
              <img src="../../../content/images/page/add-user-xl.png" />
              <p class="p2">Competence</p>
            </div>
            <div class="clearfix"></div>

            <div class="lr-box" *ngFor="let competence of employe.competences; trackBy: trackId" data-cy="entityTable">
              <div class="left">
                <p class="p4">{{ competence.nom }}</p>
              </div>

              <div class="right">
                <p class="p4">{{ competence.description }}</p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <br /><br />

            <br />
            <div class="right-heading">
              <img src="../../../content/images/page/globe-4-xl.png" />
              <p class="p2">Competence Linguistique</p>
            </div>
            <div class="clearfix"></div>
            <div class="s-box">
              <p class="p6">Arab</p>
              <div id="progress"></div>
              <p class="p6">espagnol</p>
              <div id="progress1"></div>
            </div>
            <div class="s-box">
              <p class="p6">Francais</p>
              <div id="progress2"></div>
              <p class="p6">Anglais</p>
              <div id="progress3"></div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
