<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employe">
      <h2 data-cy="employeDetailsHeading"><span jhiTranslate="gesEmployerApp.employe.detail.title">Employe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employe.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.nni">Nni</span></dt>
        <dd>
          <span>{{ employe.nni }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.nom">Nom</span></dt>
        <dd>
          <span>{{ employe.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.prenom">Prenom</span></dt>
        <dd>
          <span>{{ employe.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Genre.' + employe.sexe }}">{{ employe.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ employe.dateNaissance | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.email">Email</span></dt>
        <dd>
          <span>{{ employe.email }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.telephone">Telephone</span></dt>
        <dd>
          <span>{{ employe.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.dateRecrutement">Date Recrutement</span></dt>
        <dd>
          <span>{{ employe.dateRecrutement | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.matricule">Matricule</span></dt>
        <dd>
          <span>{{ employe.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.fonction">Fonction</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Fonction.' + employe.fonction }}">{{ employe.fonction }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.adresse">Adresse</span></dt>
        <dd>
          <span>{{ employe.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Status.' + employe.status }}">{{ employe.status }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.domaine">Domaine</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gesEmployerApp.Domaine.' + employe.domaine }}">{{ employe.domaine }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.photo">Photo</span></dt>
        <dd>
          <div *ngIf="employe.photo">
            <img src="data:image/png;base64,{{ employe.photo }}" />
            <a (click)="openFile(employe.photo, employe.photoContentType)" jhiTranslate="entity.action.open">open</a>
            {{ employe.photoContentType }}, {{ byteSize(employe.photo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.user">User</span></dt>
        <dd>
          <span>{{ employe.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.projet">Projet</span></dt>
        <dd>
          <span *ngFor="let projet of employe.projets; let last = last">
            <a [routerLink]="['/projet', projet?.id, 'view']">{{ projet.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.employe.structure">Structure</span></dt>
        <dd>
          <div *ngIf="employe.structure">
            <a [routerLink]="['/structure', employe.structure?.id, 'view']">{{ employe.structure?.id }}</a>
          </div>
        </dd>
      </dl>

      <h3>Diplomes</h3>

      <div class="alert alert-warning" id="no-result" *ngIf="employe.diplomes?.length === 0">
        <span jhiTranslate="gesEmployerApp.diplome.home.notFound">No diplomes found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="employe.diplomes && employe.diplomes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.libelle">Libelle</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.universite">Universite</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.date">Date</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.description">Description</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.diplome">Diplome</span></th>
              <th scope="col"><span jhiTranslate="gesEmployerApp.diplome.employe">Employe</span></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let diplome of employe.diplomes; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/diplome', diplome.id, 'view']">{{ diplome.id }}</a>
              </td>
              <td>{{ diplome.libelle }}</td>
              <td>{{ diplome.universite }}</td>
              <td>{{ diplome.date | formatMediumDatetime }}</td>
              <td>{{ diplome.description }}</td>
              <td>
                <a *ngIf="diplome.diplome" (click)="openFile(diplome.diplome, diplome.diplomeContentType)" jhiTranslate="entity.action.open"
                  >open</a
                >
                <span *ngIf="diplome.diplome">{{ diplome.diplomeContentType }}, {{ byteSize(diplome.diplome) }}</span>
              </td>
              <td>
                <div *ngIf="diplome.employe">
                  <a [routerLink]="['/employe', diplome.employe?.id, 'view']">{{ diplome.employe?.id }}</a>
                </div>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/diplome', diplome.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['/diplome', diplome.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(diplome)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employe', employe.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
