<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="competence">
      <h2 data-cy="competenceDetailsHeading"><span jhiTranslate="gesEmployerApp.competence.detail.title">Competence</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">

        <dt><span jhiTranslate="gesEmployerApp.competence.nom">Nom</span></dt>
        <dd>
          <span>{{ competence.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.competence.description">Description</span></dt>
        <dd>
          <span>{{ competence.description }}</span>
        </dd>

      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/competence', competence.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
