<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="projet">
      <h2 data-cy="projetDetailsHeading"><span jhiTranslate="gesEmployerApp.projet.detail.title">Projet</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">

        <dt><span jhiTranslate="gesEmployerApp.projet.nom">Nom</span></dt>
        <dd>
          <span>{{ projet.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.projet.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ projet.dateDebut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.projet.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ projet.dateFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gesEmployerApp.projet.description">Description</span></dt>
        <dd>
          <span>{{ projet.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/projet', projet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
