.u-section-1 {
  background-image: none;
  min-height: 775px;
}

.u-section-1 .u-shape-1 {
  height: 433px;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 272px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1016px;
  margin: -635px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 0 91px;
  padding: 14px 41px 15px 40px;
}

.u-section-1 .u-text-3 {
  margin: 52px 7px 0;
}

.u-section-1 .u-image-1 {
  min-height: 564px;
  background-image: url('src/main/webapp/content/images/login/-min1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 733px;
  }

  .u-section-1 .u-shape-1 {
    height: 391px;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1018px;
    margin-top: -646px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-image-1 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 713px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 262px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 681px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    animation-duration: 1000ms;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 553px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 60px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 504px;
    margin-top: -947px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: -450px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 460px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-shape-1 {
    height: 409px;
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 496px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 309px;
    margin-top: -850px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-1 .u-image-1 {
    min-height: 302px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}
