<div class="employes">
  <section class="u-align-center u-clearfix u-section-1" id="carousel_e5f3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-text-1">Les employés .....</h1>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div
            *ngFor="let employe of employes; trackBy: trackId"
            class="u-container-style u-list-item u-repeater-item"
            data-animation-name="flipIn"
            data-animation-duration="2000"
            data-animation-direction="X"
          >
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div class="u-container-style u-group u-shape-rectangle u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-palette-1-dark-2 u-text-2">
                    {{ employe.nom }} {{ employe.prenom }}
                  </h4>
                  <p class="u-align-center u-text u-text-3">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                  </p>
                  <a
                    href="https://nicepage.studio"
                    class="u-border-none u-btn u-btn-round u-button-style u-gradient u-none u-radius-9 u-text-body-alt-color u-btn-1"
                    >PLUS</a
                  >
                  <div class="u-border-4 u-border-palette-5-dark-1 u-radius-10 u-shape u-shape-round u-shape-1"></div>
                </div>
              </div>
              <span class="u-icon u-icon-1"
                ><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 53 53" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f5ab"></use>
                </svg>
                <img *ngIf="employe.photo" [src]="bypassSecurityTrust(employe.photo)" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-0a8f">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
</div>
