@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

.page-2 {
  .u-section-1 {
    background-image: none;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 25px 112px 0 auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 2.25rem;
    background-image: none;
    margin: 62px auto 0 62px;
    padding: 18px 101px;
  }

  .u-section-1 .u-image-1 {
    width: 818px;
    height: 474px;
    margin: 79px 95px 0 auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 280px;
    width: 450px;
    margin: -544px auto 0 62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 30px 15px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin: 0 255px 0 0;
  }

  .u-section-1 .u-text-3 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 21px 0 0;
  }

  .u-section-1 .u-text-4 {
    margin: 19px 1px 0 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1089px;
    margin: 112px auto 9px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
    min-height: 283px;
    grid-gap: 18px 18px;
  }

  .u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 28px 6px;
  }

  .u-section-1 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-6 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 28px 6px;
  }

  .u-section-1 .u-icon-2 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-8 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px 28px 15px;
  }

  .u-section-1 .u-icon-3 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-10 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-5 {
    padding: 30px 28px 15px;
  }

  .u-section-1 .u-icon-4 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-12 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }

    .u-section-1 .u-list-1 {
      width: 940px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 13.5px));
      min-height: 321px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-5 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-6 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-7 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-8 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-9 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-10 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-11 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-12 {
      margin-right: 0;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 874px;
    }

    .u-section-1 .u-image-1 {
      width: 720px;
      height: 417px;
      margin-right: 0;
    }

    .u-section-1 .u-group-1 {
      margin-top: -487px;
    }

    .u-section-1 .u-text-3 {
      font-size: 4.375rem;
    }

    .u-section-1 .u-list-1 {
      width: 720px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9px));
      min-height: 655px;
    }

    .u-section-1 .u-text-5 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-7 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-9 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-11 {
      font-size: 1.875rem;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 770px;
    }

    .u-section-1 .u-image-1 {
      width: 540px;
      height: 313px;
    }

    .u-section-1 .u-group-1 {
      margin-top: -383px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
    }

    .u-section-1 .u-list-1 {
      width: 540px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1156px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 654px;
    }

    .u-section-1 .u-image-1 {
      object-position: 73.14% 50%;
      width: 340px;
      height: 197px;
    }

    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -267px;
      margin-left: 0;
    }

    .u-section-1 .u-text-2 {
      margin-right: 145px;
    }

    .u-section-1 .u-text-3 {
      font-size: 2.5rem;
    }

    .u-section-1 .u-text-4 {
      margin-right: 0;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
    }
  }
}

.home-page {
  .u-section-1 {
    background-image: none;
    min-height: 775px;
  }

  .u-section-1 .u-shape-1 {
    height: 433px;
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 272px 0 0 auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1016px;
    margin: -635px calc(((100% - 1140px) / 2)) 60px auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 16px 1px 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 20px 1px 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 40px auto 0 auto;
    padding: 14px 41px 15px 40px;
  }

  .u-section-1 .u-text-3 {
    margin: 52px 7px 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 564px;
    background-image: url('../../content/images/login/-min1.jpg');
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  @media (max-width: 1199px) {
    .u-section-1 {
      min-height: 733px;
    }

    .u-section-1 .u-shape-1 {
      height: 391px;
      width: calc(((100% - 940px) / 2) + 940px);
    }

    .u-section-1 .u-layout-wrap-1 {
      width: 1018px;
      margin-top: -646px;
      margin-right: 0;
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 596px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 18px;
      padding-right: 18px;
    }

    .u-section-1 .u-text-1 {
      margin-top: 61px;
      margin-left: 12px;
      margin-right: 12px;
    }

    .u-section-1 .u-text-2 {
      margin-left: 12px;
      margin-right: 12px;
    }

    .u-section-1 .u-btn-1 {
      margin-top: 22px;
      margin-left: 125px;
    }

    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: 70px;
      margin-right: 0;
      margin-left: 24px;
    }

    .u-section-1 .u-image-1 {
      min-height: 596px;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 {
      min-height: 713px;
    }

    .u-section-1 .u-shape-1 {
      width: calc(((100% - 720px) / 2) + 720px);
      margin-top: 262px;
    }

    .u-section-1 .u-layout-wrap-1 {
      width: 681px;
      margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
      animation-duration: 1000ms;
      --animation-custom_in-translate_x: -200px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 180deg;
      --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }

    .u-section-1 .u-text-3 {
      margin-left: 0;
    }

    .u-section-1 .u-image-1 {
      min-height: 553px;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 {
      min-height: 1067px;
    }

    .u-section-1 .u-shape-1 {
      width: calc(((100% - 540px) / 2) + 540px);
      margin-top: 60px;
    }

    .u-section-1 .u-layout-wrap-1 {
      width: 504px;
      margin-top: -947px;
      margin-right: calc(((100% - 540px) / 2));
      margin-bottom: -450px;
    }

    .u-section-1 .u-layout-cell-1 {
      order: 1;
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-1 .u-image-1 {
      min-height: 460px;
      order: 0;
    }

    .u-section-1 .u-container-layout-2 {
      padding-bottom: 31px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 {
      min-height: 50vw;
    }

    .u-section-1 .u-shape-1 {
      height: 409px;
      width: calc(((100% - 340px) / 2) + 340px);
      margin-top: 496px;
    }

    .u-section-1 .u-layout-wrap-1 {
      width: 309px;
      margin-top: -850px;
      margin-right: calc(((100% - 340px) / 2));
      margin-bottom: 60px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 19px;
    }

    .u-section-1 .u-text-1 {
      margin-top: 3px;
    }

    .u-section-1 .u-image-1 {
      min-height: 302px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-bottom: 30px;
    }
  }

  .u-gutter-0 .u-layout .u-layout-cell {
    width: 500px;
  }

  .u-text-3 a {
    color: #1a1e21;
  }
}

.login-page {
  h1 {
    font-weight: bold;
    margin: 0;
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }

  button {
    border-radius: 20px;
    border: 1px solid #bae1a3;
    background-color: #bae1a3;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: #bae1a3;
    background: -webkit-linear-gradient(to right, #bae1a3, #9fbe8d);
    background: linear-gradient(to right, #bae1a3, #9fbe8d);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
}

.home-ministre {
  .u-section-1 {
    background-image: none;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 3.5rem;
    text-shadow: 6px -2px 13px rgba(133, 142, 153, 1);
    margin: 0 30px 0 -30px;
  }

  .u-section-1 .u-list-1 {
    width: 1117px;
    margin: 50px auto 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 835px;
    grid-gap: 10px 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 7px 0 0;
  }

  .u-section-1 .u-group-1 {
    background-image: none;
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 20px;
  }

  .u-section-1 .u-icon-2 {
    width: 166px;
    height: 166px;
    margin: 22px auto 0 17px;
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    font-family: 'Abril Fatface';
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: -177px 40px 0 215px;
  }

  .u-section-1 .u-text-3 {
    margin: 30px 88px 0 215px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 263px;
    padding: 10px 38px 10px 37px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 7px 0 0;
  }

  .u-section-1 .u-group-2 {
    background-image: none;
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0 20px;
  }

  .u-section-1 .u-icon-3 {
    width: 166px;
    height: 166px;
    margin: 22px auto 0 17px;
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    font-family: 'Abril Fatface';
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: -177px 40px 0 215px;
  }

  .u-section-1 .u-text-5 {
    margin: 30px 88px 0 215px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 263px;
    padding: 10px 38px 10px 37px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0 7px 0 0;
  }

  .u-section-1 .u-group-3 {
    background-image: none;
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0 20px;
  }

  .u-section-1 .u-icon-4 {
    width: 166px;
    height: 166px;
    margin: 22px auto 0 17px;
    padding: 0;
  }

  .u-section-1 .u-text-6 {
    font-family: 'Abril Fatface';
    font-size: 3rem;
    background-image: none;
    font-weight: 700;
    margin: -177px 40px 0 215px;
  }

  .u-section-1 .u-text-7 {
    margin: 30px 88px 0 215px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 263px;
    padding: 10px 38px 10px 37px;
  }

  .u-section-1 .u-text-8 {
    margin: 30px 0 -1px;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-list-1 {
      width: 940px;
    }

    .u-section-1 .u-group-1 {
      min-height: auto;
    }

    .u-section-1 .u-text-2 {
      margin-right: 0;
      margin-left: 78px;
    }

    .u-section-1 .u-text-3 {
      margin-right: 0;
      margin-left: 127px;
    }

    .u-section-1 .u-btn-1 {
      margin-left: 87px;
    }

    .u-section-1 .u-group-2 {
      min-height: auto;
    }

    .u-section-1 .u-icon-3 {
      margin-top: -256px;
    }

    .u-section-1 .u-text-4 {
      margin-right: 0;
      margin-left: 78px;
    }

    .u-section-1 .u-text-5 {
      margin-right: 0;
      margin-left: 127px;
    }

    .u-section-1 .u-btn-2 {
      margin-left: 87px;
    }

    .u-section-1 .u-group-3 {
      min-height: auto;
    }

    .u-section-1 .u-text-6 {
      margin-right: 0;
      margin-left: 78px;
    }

    .u-section-1 .u-text-7 {
      margin-right: 0;
      margin-left: 127px;
    }

    .u-section-1 .u-btn-3 {
      margin-left: 87px;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-list-1 {
      width: 720px;
    }

    .u-section-1 .u-text-2 {
      margin-left: 0;
    }

    .u-section-1 .u-text-3 {
      margin-left: 0;
    }

    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }

    .u-section-1 .u-text-4 {
      margin-left: 0;
    }

    .u-section-1 .u-text-5 {
      margin-left: 0;
    }

    .u-section-1 .u-btn-2 {
      margin-left: 0;
    }

    .u-section-1 .u-text-6 {
      margin-left: 0;
    }

    .u-section-1 .u-text-7 {
      margin-left: 0;
    }

    .u-section-1 .u-btn-3 {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      font-size: 4.0625rem;
    }

    .u-section-1 .u-list-1 {
      width: 540px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
    }
  }

  .u-list-1 h2,
  h5 {
    text-align: left;
  }
}

.directions {
  .u-section-1 {
    background-image: none;
    min-height: 1161px;
  }

  .u-section-1 .u-shape-1 {
    height: 1118px;
    width: calc(((100% - 1140px) / 2) + 702px);
    margin: 43px auto 0 0;
  }

  .u-section-1 .u-image-1 {
    width: 731px;
    height: 591px;
    filter: brightness(0.35);
    margin: -1031px calc(((100% - 1140px) / 2)) 0 auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 304px;
    width: 570px;
    margin: -678px auto 0 calc(((100% - 1140px) / 2) + -16px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 0;
  }

  .u-section-1 .u-text-1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Roboto, sans-serif;
    margin: 13px auto 0 0;
  }

  .u-section-1 .u-text-2 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1078px;
    margin: 103px auto 35px calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);

    grid-gap: 18px 18px;
  }

  .u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-1 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-2 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-3 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-5 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-5 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-4 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-6 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-5 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-6 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-5 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-6 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-7 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-6 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-8 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-7 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-8 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-7 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-9 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  .u-section-1 .u-list-item-8 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-9 {
    padding: 30px 22px;
  }

  .u-section-1 .u-icon-8 {
    height: 75px;
    width: 75px;
    margin: 14px auto 0 0;
    padding: 0;
  }

  .u-section-1 .u-text-10 {
    font-weight: 700;
    margin: 37px auto 0 0;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
      height: 1179px;
      width: 785px;
    }

    .u-section-1 .u-image-1 {
      width: 771px;
      height: 587px;
      margin-right: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-group-1 {
      width: 526px;
      margin-left: calc(((100% - 940px) / 2) + -16px);
    }

    .u-section-1 .u-list-1 {
      width: 909px;
      margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 13.5px));
      min-height: 544px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-7 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-8 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-container-layout-9 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 {
      min-height: 1152px;
    }

    .u-section-1 .u-shape-1 {
      height: 1588px;
      width: 655px;
    }

    .u-section-1 .u-image-1 {
      width: 622px;
      height: 532px;
      margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-group-1 {
      margin-top: -669px;
      margin-left: calc(((100% - 720px) / 2) + -16px);
    }

    .u-section-1 .u-text-2 {
      font-size: 4.375rem;
    }

    .u-section-1 .u-list-1 {
      width: 655px;
      margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9px));
      min-height: 1667px;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 {
      min-height: 1007px;
    }

    .u-section-1 .u-shape-1 {
      height: 1981px;
      width: 534px;
    }

    .u-section-1 .u-image-1 {
      width: 476px;
      height: 482px;
      margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-group-1 {
      width: 453px;
      margin-top: -524px;
      margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-2 {
      font-size: 3.75rem;
    }

    .u-section-1 .u-list-1 {
      width: 380px;
      margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 {
      min-height: 845px;
    }

    .u-section-1 .u-shape-1 {
      width: 299px;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-image-1 {
      width: 340px;
      height: 517px;
      object-position: 73.14% 50%;
      margin-right: auto;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-group-1 {
      width: 307px;
      margin-top: -362px;
      margin-left: calc(((100% - 1140px) / 2) + 417px);
    }

    .u-section-1 .u-text-2 {
      font-size: 2.5rem;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
    }
  }

  .u-text-3 {
    color: #0f0f0f !important;
  }
}

.detail-structure {
  .u-section-1 {
    background-image: none;
    min-height: 1196px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 6px 9px rgba(119, 170, 217, 1);
    margin: 50px calc(((100% - 1140px) / 2) + 197px) 0 calc(((100% - 1140px) / 2) + 248px);
  }

  .u-section-1 .u-shape-1 {
    height: 970px;
    width: 752px;
    margin: 71px auto 0 calc(((100% - 1140px) / 2) + -26px);
  }

  .u-section-1 .u-image-1 {
    width: 620px;
    height: 466px;
    filter: brightness(0.45);
    margin: -822px 0 0 auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 276px;
    width: 535px;
    margin: -374px auto 0 calc(((100% - 1140px) / 2) + 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 15px 0 13px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Roboto, sans-serif;
    margin: 0 auto 0 60px;
  }

  .u-section-1 .u-text-3 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 20px 0 0 60px;
  }

  .u-section-1 .u-text-4 {
    margin: 21px 0 0 61px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1089px;
    margin: 118px auto 0 calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
    min-height: 306px;
    grid-gap: 18px 18px;
  }

  .u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }

  .u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-1 .u-icon-2 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }

  .u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-1 .u-icon-3 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }

  .u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-1 .u-icon-4 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }

  .u-section-1 .u-group-2 {
    width: 535px;
    min-height: 116px;
    margin: -845px auto 60px calc(((100% - 1140px) / 2) + 15px);
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
    margin: 0 21px;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 940px) / 2) + 97px);
      margin-left: calc(((100% - 940px) / 2) + 292px);
    }

    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 940px) / 2) + -26px);
    }

    .u-section-1 .u-group-1 {
      margin-left: calc(((100% - 940px) / 2) + 15px);
    }

    .u-section-1 .u-list-1 {
      width: 940px;
      margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 13.5px));
      min-height: 321px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-5 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-6 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-7 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-8 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-group-2 {
      margin-left: calc(((100% - 940px) / 2) + 15px);
    }

    .u-section-1 .u-container-layout-6 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 224px);
    }

    .u-section-1 .u-shape-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-group-1 {
      margin-left: calc(((100% - 720px) / 2) + 15px);
    }

    .u-section-1 .u-text-3 {
      font-size: 4.375rem;
    }

    .u-section-1 .u-list-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9px));
      min-height: 655px;
    }

    .u-section-1 .u-text-5 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-6 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-7 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-8 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-group-2 {
      margin-left: calc(((100% - 720px) / 2) + 15px);
    }
  }

  @media (max-width: 767px) {
    .u-section-1 {
      min-height: 1136px;
    }

    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2) + 168px);
    }

    .u-section-1 .u-shape-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-image-1 {
      width: 540px;
      height: 406px;
    }

    .u-section-1 .u-group-1 {
      margin-top: -314px;
      margin-left: calc(((100% - 540px) / 2) + 5px);
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
    }

    .u-section-1 .u-list-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1156px;
    }

    .u-section-1 .u-group-2 {
      margin-bottom: 4px;
      margin-left: calc(((100% - 540px) / 2) + 5px);
    }

    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 {
      min-height: 986px;
    }

    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2) + 106px);
      font-size: 1.5rem;
    }

    .u-section-1 .u-shape-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-image-1 {
      object-position: 73.14% 50%;
      width: 340px;
      height: 256px;
    }

    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -164px;
      margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-3 {
      font-size: 2.5rem;
    }

    .u-section-1 .u-text-4 {
      margin-left: 0;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-group-2 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  }
}
.employes {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    margin: 70px auto 0 363px;
  }

  .u-section-1 .u-list-1 {
    grid-template-rows: auto auto;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 560px;
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-group-1 {
    width: 244px;
    min-height: 268px;
    margin: 8px 41px 0 auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }

  .u-section-1 .u-text-3 {
    font-style: normal;
    margin: 20px 0 0;
  }

  .u-section-1 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #4c7397);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    margin: 30px auto 0;
    padding: 8px 36px 9px 35px;
  }

  .u-section-1 .u-shape-1 {
    height: 271px;
    background-image: none;
    width: 558px;
    margin: -247px auto 0 -272px;
  }

  .u-section-1 .u-icon-1 {
    width: 143px;
    height: 143px;
    margin: -149px auto 0 67px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-group-2 {
    width: 244px;
    min-height: 246px;
    margin: 8px 41px 0 auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }

  .u-section-1 .u-text-5 {
    font-style: normal;
    margin: 20px 0 0;
  }

  .u-section-1 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #4c7397);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    margin: 30px auto 0;
    padding: 8px 36px 9px 35px;
  }

  .u-section-1 .u-shape-2 {
    height: 271px;
    background-image: none;
    width: 558px;
    margin: -247px auto 0 -272px;
  }

  .u-section-1 .u-icon-2 {
    width: 143px;
    height: 143px;
    margin: -149px auto 0 67px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-group-3 {
    width: 244px;
    min-height: 246px;
    margin: 8px 41px 0 auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }

  .u-section-1 .u-text-7 {
    font-style: normal;
    margin: 20px 0 0;
  }

  .u-section-1 .u-btn-3 {
    background-image: linear-gradient(to right, #478ac9, #4c7397);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    margin: 30px auto 0;
    padding: 8px 36px 9px 35px;
  }

  .u-section-1 .u-shape-3 {
    height: 271px;
    background-image: none;
    width: 558px;
    margin: -247px auto 0 -272px;
  }

  .u-section-1 .u-icon-3 {
    width: 143px;
    height: 143px;
    margin: -149px auto 0 67px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 0;
  }

  .u-section-1 .u-group-4 {
    width: 244px;
    min-height: 246px;
    margin: 8px 41px 0 auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }

  .u-section-1 .u-text-9 {
    font-style: normal;
    margin: 20px 0 0;
  }

  .u-section-1 .u-btn-4 {
    background-image: linear-gradient(to right, #478ac9, #4c7397);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    margin: 30px auto 0;
    padding: 8px 36px 9px 35px;
  }

  .u-section-1 .u-shape-4 {
    height: 271px;
    background-image: none;
    width: 558px;
    margin: -247px auto 0 -272px;
  }

  .u-section-1 .u-icon-4 {
    width: 143px;
    height: 143px;
    margin: -149px auto 0 67px;
    padding: 0;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      margin-top: 80px;
      margin-left: 299px;
    }

    .u-section-1 .u-list-1 {
      margin-top: 56px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 514px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-bottom: 8px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .u-section-1 .u-shape-1 {
      width: 244px;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-3 {
      padding-bottom: 8px;
    }

    .u-section-1 .u-container-layout-4 {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .u-section-1 .u-shape-2 {
      width: 244px;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-5 {
      padding-bottom: 8px;
    }

    .u-section-1 .u-container-layout-6 {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .u-section-1 .u-shape-3 {
      width: 244px;
      margin-left: 0;
    }

    .u-section-1 .u-container-layout-7 {
      padding-bottom: 8px;
    }

    .u-section-1 .u-container-layout-8 {
      padding-top: 0;
      padding-bottom: 8px;
    }

    .u-section-1 .u-shape-4 {
      width: 244px;
      margin-left: 0;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-top: 748px;
      margin-left: 229px;
    }

    .u-section-1 .u-list-1 {
      margin-top: -612px;
      margin-bottom: 0;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1238px;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      margin-left: 172px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      margin-left: 108px;
    }

    .u-section-1 .u-list-1 {
      margin-top: -593px;
    }
  }
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-text-3 a {
    color: #ffffff;
  }
}
.cabinet{
  .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/page/ghghgh-min-21.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 35px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    margin: 16px 350px 0 16px;
  }
  
  .u-section-1 .u-list-1 {
    width: 699px;
    margin: 35px auto 15px;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 493px;
    grid-gap: 10px 10px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 25px 30px 22px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 95px;
    width: 95px;
    background-image: none;
    margin: 9px auto 0 0;
    padding: 21px;
  }
  
  .u-section-1 .u-text-3 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 32px 0 0;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 25px 30px 22px;
  }
  
  .u-section-1 .u-icon-2 {
    height: 95px;
    width: 95px;
    background-image: none;
    margin: 9px auto 0 0;
    padding: 21px;
  }
  
  .u-section-1 .u-text-4 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 32px 0 0;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 25px 30px 22px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 95px;
    width: 95px;
    background-image: none;
    margin: 9px auto 0 0;
    padding: 21px;
  }
  
  .u-section-1 .u-text-5 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 32px 0 0;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 25px 30px;
  }
  
  .u-section-1 .u-icon-4 {
    height: 95px;
    width: 95px;
    background-image: none;
    margin: 9px auto 0 0;
    padding: 21px;
  }
  
  .u-section-1 .u-text-6 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 32px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 844px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 60px;
      margin-right: 202px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 166px;
      margin-left: 0;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
      min-height: 440px;
    }
  
    .u-section-1 .u-icon-1 {
      color: rgb(0, 0, 0) !important;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: -63px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-2 {
      color: rgb(0, 0, 0) !important;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
      margin-top: -63px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-3 {
      color: rgb(0, 0, 0) !important;
    }
  
    .u-section-1 .u-text-5 {
      width: auto;
      margin-top: -63px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-4 {
      color: rgb(0, 0, 0) !important;
    }
  
    .u-section-1 .u-text-6 {
      width: auto;
      margin-top: -63px;
      margin-left: 106px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 646px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      min-height: 758px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 122px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 122px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 122px;
    }
  
    .u-section-1 .u-text-6 {
      margin-left: 122px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 485px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 305px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-3 {
      margin-top: 32px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 32px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-5 {
      margin-top: 32px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-6 {
      margin-top: 32px;
      margin-left: 0;
    }
  }


}
.secretariat{
  .u-section-1 {
    background-image: none;
    min-height: 1196px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 6px 9px rgba(119,170,217,1);
    margin: 50px calc(((100% - 1140px) / 2) + 197px) 0 calc(((100% - 1140px) / 2) + 248px);
  }
  
  .u-section-1 .u-shape-1 {
    height: 970px;
    width: 752px;
    margin: 71px auto 0 calc(((100% - 1140px) / 2) + -26px);
  }
  
  .u-section-1 .u-image-1 {
    width: 620px;
    height: 466px;
    filter: brightness(0.45);
    margin: -822px 0 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 276px;
    width: 535px;
    margin: -374px auto 0 calc(((100% - 1140px) / 2) + 15px);
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 15px 0 13px;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Roboto, sans-serif;
    margin: 0 auto 0 60px;
  }
  
  .u-section-1 .u-text-3 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 20px 0 0 60px;
  }
  
  .u-section-1 .u-text-4 {
    margin: 21px 0 0 61px;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-1 .u-list-1 {
    width: 1089px;
    margin: 118px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
    min-height: 306px;
    grid-gap: 18px 18px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }
  
  .u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-2 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }
  
  .u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }
  
  .u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-4 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 30px 1px 0;
  }
  
  .u-section-1 .u-group-2 {
    width: 535px;
    min-height: 116px;
    margin: -845px auto 60px calc(((100% - 1140px) / 2) + 15px);
  }
  
  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
    margin: 0 21px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 940px) / 2) + 97px);
      margin-left: calc(((100% - 940px) / 2) + 292px);
    }
  
    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 940px) / 2) + -26px);
    }
  
    .u-section-1 .u-group-1 {
      margin-left: calc(((100% - 940px) / 2) + 15px);
    }
  
    .u-section-1 .u-list-1 {
      width: 940px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 13.5px));
      min-height: 321px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-8 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-group-2 {
      margin-left: calc(((100% - 940px) / 2) + 15px);
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 224px);
    }
  
    .u-section-1 .u-shape-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-group-1 {
      margin-left: calc(((100% - 720px) / 2) + 15px);
    }
  
    .u-section-1 .u-text-3 {
      font-size: 4.375rem;
    }
  
    .u-section-1 .u-list-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9px));
      min-height: 655px;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-8 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-group-2 {
      margin-left: calc(((100% - 720px) / 2) + 15px);
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 1136px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2) + 168px);
    }
  
    .u-section-1 .u-shape-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 406px;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: -314px;
      margin-left: calc(((100% - 540px) / 2) + 5px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1156px;
    }
  
    .u-section-1 .u-group-2 {
      margin-bottom: 4px;
      margin-left: calc(((100% - 540px) / 2) + 5px);
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 986px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2) + 106px);
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-shape-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-image-1 {
      object-position: 73.14% 50%;
      width: 340px;
      height: 256px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -164px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-text-3 {
      font-size: 2.5rem;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 0;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-group-2 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  }

}
