@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

.page-2 {
  .u-section-1 {
    background-image: none;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 25px 112px 0 auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 2.25rem;
    background-image: none;
    margin: 62px auto 0 62px;
    padding: 18px 101px;
  }

  .u-section-1 .u-image-1 {
    width: 818px;
    height: 474px;
    margin: 79px 95px 0 auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 280px;
    width: 450px;
    margin: -544px auto 0 62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 30px 15px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin: 0 255px 0 0;
  }

  .u-section-1 .u-text-3 {
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 21px 0 0;
  }

  .u-section-1 .u-text-4 {
    margin: 19px 1px 0 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1089px;
    margin: 112px auto 9px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
    min-height: 283px;
    grid-gap: 18px 18px;
  }

  .u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 28px 6px;
  }

  .u-section-1 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-6 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 28px 6px;
  }

  .u-section-1 .u-icon-2 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-8 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px 28px 15px;
  }

  .u-section-1 .u-icon-3 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-10 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  .u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .u-section-1 .u-container-layout-5 {
    padding: 30px 28px 15px;
  }

  .u-section-1 .u-icon-4 {
    height: 62px;
    width: 62px;
    margin: 0 auto 0 2px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-image: none;
    font-weight: 700;
    margin: 16px 3px 0;
  }

  .u-section-1 .u-text-12 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 16px 4px 0 0;
  }

  @media (max-width: 1199px) {
    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }

    .u-section-1 .u-list-1 {
      width: 940px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 13.5px));
      min-height: 321px;
    }

    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-5 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-6 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-7 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-8 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-9 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-10 {
      margin-right: 0;
    }

    .u-section-1 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-11 {
      margin-right: 0;
      margin-left: 0;
    }

    .u-section-1 .u-text-12 {
      margin-right: 0;
    }
  }

  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 874px;
    }

    .u-section-1 .u-image-1 {
      width: 720px;
      height: 417px;
      margin-right: 0;
    }

    .u-section-1 .u-group-1 {
      margin-top: -487px;
    }

    .u-section-1 .u-text-3 {
      font-size: 4.375rem;
    }

    .u-section-1 .u-list-1 {
      width: 720px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9px));
      min-height: 655px;
    }

    .u-section-1 .u-text-5 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-7 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-9 {
      font-size: 1.875rem;
    }

    .u-section-1 .u-text-11 {
      font-size: 1.875rem;
    }
  }

  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 770px;
    }

    .u-section-1 .u-image-1 {
      width: 540px;
      height: 313px;
    }

    .u-section-1 .u-group-1 {
      margin-top: -383px;
    }

    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
    }

    .u-section-1 .u-list-1 {
      width: 540px;
    }

    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1156px;
    }
  }

  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 654px;
    }

    .u-section-1 .u-image-1 {
      object-position: 73.14% 50%;
      width: 340px;
      height: 197px;
    }

    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -267px;
      margin-left: 0;
    }

    .u-section-1 .u-text-2 {
      margin-right: 145px;
    }

    .u-section-1 .u-text-3 {
      font-size: 2.5rem;
    }

    .u-section-1 .u-text-4 {
      margin-right: 0;
    }

    .u-section-1 .u-list-1 {
      width: 340px;
    }
  }
}
