<div>
  <h2 id="page-heading" data-cy="ExperienceHeading">
    <span jhiTranslate="gesEmployerApp.experience.home.title">Experiences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gesEmployerApp.experience.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-experience"
        [routerLink]="['/experience/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gesEmployerApp.experience.home.createLabel"> Create a new Experience </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="experiences?.length === 0">
    <span jhiTranslate="gesEmployerApp.experience.home.notFound">No experiences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="experiences && experiences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gesEmployerApp.experience.entreprise">Entreprise</span></th>
          <th scope="col"><span jhiTranslate="gesEmployerApp.experience.dateDebut">Date Debut</span></th>
          <th scope="col"><span jhiTranslate="gesEmployerApp.experience.dateFin">Date Fin</span></th>
          <th scope="col"><span jhiTranslate="gesEmployerApp.experience.description">Description</span></th>
          <th scope="col"><span jhiTranslate="gesEmployerApp.experience.employe">Employe</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experience of experiences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/experience', experience.id, 'view']">{{ experience.id }}</a>
          </td>
          <td>{{ experience.entreprise }}</td>
          <td>{{ experience.dateDebut | formatMediumDatetime }}</td>
          <td>{{ experience.dateFin | formatMediumDatetime }}</td>
          <td>{{ experience.description }}</td>
          <td>
            <div *ngIf="experience.employe">
              <a [routerLink]="['/employe', experience.employe?.id, 'view']">{{ experience.employe?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/experience', experience.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/experience', experience.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(experience)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
