<div class="home-ministre">
  <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="carousel_39ce">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-custom-font u-text u-text-1"><span class="u-icon"></span>&nbsp;L'administr​​​​ation Centrale du Minis​tère&nbsp;</h1>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div
                class="u-absolute-hcenter u-align-left u-border-10 u-border-palette-1-dark-1 u-container-style u-expanded u-group u-radius-20 u-shape-round u-group-1"
              >
                <div class="u-container-layout u-container-layout-2">
                  <span class="u-file-icon u-icon u-icon-2"><img src=" ../../../content/images/page/1208280.png" alt="" /></span>
                  <h2 class="u-custom-font u-text u-text-2">le cabinet du ministère</h2>
                  
                  <h5 class="u-text u-text-3">Pour consulter le cabinet du ministère clicker çi dessous</h5>
                  <a routerLink="structure/cabinet"
                    
                    class="u-active-white u-border-none u-btn u-btn-round u-button-style u-hover-grey-30 u-palette-1-dark-2 u-radius-8 u-text-active-palette-5-dark-3 u-text-body-alt-color u-text-hover-palette-5-dark-3 u-btn-1"
                    >PLUS</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div
                class="u-align-left u-border-10 u-border-palette-1-dark-1 u-container-style u-expanded u-group u-radius-20 u-shape-round u-group-2"
              >
                <div class="u-container-layout u-container-layout-4">
                  <span class="u-file-icon u-icon u-icon-3"><img src=" ../../../content/images/page/10910.png" alt="" /></span>
                  <h2 class="u-custom-font u-text u-text-4">le secrétariat général</h2>
                  <h5 class="u-text u-text-5">Pour consulter le secrétariat général clicker ​çi dessous</h5>
                  <a routerLink="structure/secretariat"
                    
                    class="u-active-white u-border-none u-btn u-btn-round u-button-style u-hover-grey-30 u-palette-1-dark-2 u-radius-8 u-text-active-palette-5-dark-3 u-text-body-alt-color u-text-hover-palette-5-dark-3 u-btn-2"
                    >PLUS</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <div
                class="u-absolute-hcenter u-align-left u-border-10 u-border-palette-1-dark-1 u-container-style u-expanded u-group u-radius-20 u-shape-round u-group-3"
              >
                <div class="u-container-layout u-container-layout-6">
                  <span class="u-file-icon u-icon u-icon-4"><img src=" ../../../content/images/page/3050431.png" alt="" /></span>
                  <h2 class="u-custom-font u-text u-text-6">les directions centrales</h2>
                  <h5 class="u-text u-text-7">Pour consulter les directions centrales clicker&nbsp;çi dessous</h5>
                  <a
                    routerLink="structure/directions"
                    class="u-active-white u-border-none u-btn u-btn-round u-button-style u-hover-grey-30 u-palette-1-dark-2 u-radius-8 u-text-active-palette-5-dark-3 u-text-body-alt-color u-text-hover-palette-5-dark-3 u-btn-3"
                    >PLUS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
